# Molecule managed

{% if item.registry is defined %}
FROM {{ item.registry.url }}/{{ item.image }}
{% else %}
FROM {{ item.image }}
{% endif %}

RUN apt-get update && apt-get upgrade -y &&\
    apt-get install systemd python3 sudo bash ca-certificates iproute2 -y &&\
    apt-get clean -y
