[Unit]
Description=MySQL Exporter
After=network-online.target

[Service]
User={{ mysql_exporter_user }}
Group={{ mysql_exporter_group }}
Type=simple
ExecStart={{ mysql_exporter_install_dir }}/mysqld_exporter \
--config.my-cnf={{ mysql_exporter_my_cnf_path }} \
--collect.global_status \
--collect.info_schema.innodb_metrics \
--collect.auto_increment.columns \
--collect.info_schema.processlist \
--collect.binlog_size \
--collect.info_schema.tablestats \
--collect.global_variables \
--collect.info_schema.query_response_time \
--collect.info_schema.userstats \
--collect.info_schema.tables \
--collect.perf_schema.tablelocks \
--collect.perf_schema.file_events \
--collect.perf_schema.eventswaits \
--collect.perf_schema.indexiowaits \
--collect.perf_schema.tableiowaits \
--collect.slave_status \
--web.listen-address={{ mysql_exporter_listen_address }}:{{ mysql_exporter_port }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
